@font-face {
    font-family: 'NeueBeba-Light';
    src:  url('./fonts/BebasNeue/Commercial/TTF/BebasNeue-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'NeueBeba-Bold';
    src: url(./fonts/BebasNeue/Commercial/TTF/BebasNeue-Bold.ttf) format('truetype');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;
    margin-bottom: 63px;
    padding-right: 63px;
    padding-left: 63px;
}

.navbar img {
    max-width: 100px;
};

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    font-family: 'NeueBeba-Light';
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    list-style-type: none;
    margin-left: 40px;
};
