@font-face {
    font-family: 'NeueBeba-Light';
    src:  url('./fonts/BebasNeue/Commercial/TTF/BebasNeue-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'NeueBeba-Bold';
    src: url(./fonts/BebasNeue/Commercial/TTF/BebasNeue-Bold.ttf) format('truetype');
}

h1 {
    font-family: 'NeueBeba-Bold';
    margin: 0px;
    padding-bottom: 15px;
}

p, span, li, a {
    font-family: 'NeueBeba-Light';
    padding-bottom: 15px;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 63px;
    padding-right: 63px;
    margin-top: 63px;
    margin-bottom: 63px;
}

.navbar img {
    max-width: 100px;
};

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    list-style-type: none;
    margin-left: 40px;
}

.main {
    flex: 1;
}

.copy-image-gallery {
    padding: 0 63px 0 63px;
    margin-bottom: 15px;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 63px 0 63px;
    gap: 20px;
}

.gallery-image img {
    max-width: 100%;
}

footer {
    padding: 0;
    margin-top: 63px;
}

.footer {
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.footer input[type="email"] {
    color: black;
    padding: 10px 20px;
    font-family: 'NeueBeba-Light';
}
.footer input[type="email"]:focus {
    outline: none;
}

.footer input[type="email"]::placeholder {
    color: lightgrey;
}

.footer input[type="submit"] {
    border-color: black;;
    font-family: 'NeueBeba-Light';
    padding: 10px 30px;
}

.footer input[type="submit"]:hover {
    background-color: black;
    color: white;
    border-color: black;
    box-shadow: none;
}

/* ABOUT */
.image-me {
    margin-bottom: 63px;
}
.image-me img {
    max-width: 100%;
}

.copy-about {
    padding: 0 63px 0 63px;
}
